<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1> List candidate  by roles</h1>

<table border="1" width="30%">
  <tr>
    <th>ID </th>
    <th>fullName </th>
    <th>email </th>

    <th>phone </th>
  </tr>
  <tr th:each="ex : ${experienceByRole}">
    <td th:text="${ex.candidate.id}"></td>
    <td th:text="${ex.candidate.fullName}"></td>
    <td th:text="${ex.candidate.email}"></td>
    <td th:text="${ex.candidate.phone}"></td>
  </tr>
</table>
</body>
</html>